* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background-color: hsl(0, 0%, 98%);
	font-family: 'Epilogue', sans-serif;
	font-size: 1.8rem;
	scroll-behavior: smooth;
	height: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}
.logo {
	display: block;
	padding: 3rem;
	top: 30px;
}
.nav {
	display: block;
	width: 100%;
	height: 100%;
}
.nav__menu {
	display: none;
}
.nav__items {
	text-align: left;
	padding: 2rem;
	transition: color 0.5s;
	&--item {
		padding: 1rem;
		.nav-menu {
			display: none;
			padding: 1rem;
			.features-item,
			.company-item {
				padding: 1rem;
			}
		}
	}
	.arrow {
		background-image: url('../img/icon-arrow-down.svg');
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(0deg);
		margin: 0;
		padding: 0.5rem 2rem;
	}
	.up {
		background-image: url('../img/icon-arrow-up.svg');
	}
	:hover {
		color: hsl(0, 0%, 8%);
	}
}
.active {
	display: block;
	position: absolute;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	top: 0;
	right: 0;
	height: 1200px;
	width: 70%;
	padding: 1rem;
	margin-bottom: 2rem;
	text-align: center;
	background-color: hsl(0, 0%, 98%);
	z-index: 15;
}
ul,
li,
a {
	list-style: none;
	text-decoration: none;
	color: hsl(0, 0%, 41%);
}
.shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	overflow: scroll;
}
.nav__menu-btn {
	display: flex;
	position: absolute;
	width: 2rem;
	top: 2rem;
	right: 2rem;
	padding: 1rem;
	background-color: hsl(0, 0%, 98%);
	background-image: url('../img/icon-menu.svg');
	background-position: center;
	border: none;
	cursor: pointer;
	z-index: 1000;
}
.cross {
	background-image: url('../img/icon-close-menu.svg');
}
.nav__btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	button {
		font-size: 2rem;
		padding: 1rem 2rem;
		width: 70%;
		border-radius: 15px;
		cursor: pointer;
		color: hsl(0, 0%, 41%);
		border-color: hsl(0, 0%, 41%);
		transition: color 0.5s;
	}
	.login-btn {
		margin-bottom: 1rem;
		background: none;
		border: none;
	}
	button:hover {
		color: hsl(0, 0%, 8%);
		border-color: hsl(0, 0%, 8%);
	}
}

.header {
	display: block;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	margin-bottom: 5rem;

	&__img {
		display: block;
		width: 100%;
		height: 30%;
		background-image: url('../img/image-hero-mobile.png');
		background-position: top 0 center;
		background-size: cover;
	}
	&__section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__heading {
		font-size: 7rem;
		margin: 2rem;
	}
	&__text {
		padding: 2rem;
	}
	.more-btn {
		padding: 1rem 2rem;
		margin: 2rem;
		color: hsl(0, 0%, 98%);
		background-color: hsl(0, 0%, 8%);
		border-radius: 10px;
		transition: color 0.5s, background-color 0.5s;
		cursor: pointer;
	}
	:hover {
		background-color: hsl(0, 0%, 98%);
		color: hsl(0, 0%, 8%);
	}

	.pics {
		display: inline-block;
		width: 100%;padding: 2rem;
		justify-content: space-around;
		img{
			padding:2rem 3rem;
		}
	}
}
@media (min-width: 992px) {
	.nav {
		display: flex;
		
	}
	.nav__menu {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 100%;
	}
	.nav__items {
		display: flex;
		padding: 2rem;
		flex-direction: row;
		width: 100%;
		&--item{
			padding:1rem 2rem;
		}
	}
	.nav-menu {
		margin-top: 1rem;
		box-shadow: 0 0 5px 1px black;
		border-radius: 15px;
		background-color: hsl(0, 0%, 100%);
	}
	.active {
		display: none;
	}
	.nav__menu-btn {
		display: none;
	}
	.nav__btn {
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: flex-end;
		width: 20%;
		padding: 2rem;
		button {
			width: 100%;
		}
	}
	.header {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		width: 100%;
		height: 60%;
		
		&__section {
			display: flex;
			justify-content: space-around;
			align-items: start;
			width: 100%;
			padding: 2rem;
			margin-right: 4rem;	
		}
		&__heading {
			margin-bottom: 0;
		}
		&__text {
			font-size: 2rem;
			line-height: 3rem;
		}
		&__img {
			display: flex;
			width: 100%;
			height: 80vh;
			background-image: url('../img/image-hero-desktop.png');
			background-position: top 0 left 0;
			margin-right: 3rem;
		}
		.more-btn {
			font-size: 2rem;
			margin-bottom: 5rem;
		}
	}
}
